<div class="container">
  <div class="row align-items-center" id="row-login">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <div class="row">  
              <div class="col-6">
                <div class="google-btn" (click)="socialSignIn('google')">
                  <div class="google-icon-wrapper">
                    <img class="google-icon"
                      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                  </div>
                  <p class="btn-text"><b>Iniciar Sesion con Google</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>